header.about_header {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
    background-color: white;
    display: block;
}

header.about_header h1 {
    margin-bottom: 1em;
    font-size: 50px;
}

header.about_header * , section.about_section {
    color: black;
}