html {
    height: 100%;
}

svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

main {
    grid-column-start: start;
    grid-column-end: end;
    z-index: 0;
    display: flex;
}

footer {
    background-color: var(--primary-color);
    color: var(--secundary-text-color);
    grid-column-start: start;
    grid-column-end: end;
    display: flex;
    align-items: center;
    gap: 3em;
    justify-content: center;
}

a,
button {
    cursor: pointer;
}

#manage_report_button span {
    padding-top: 6px;
}

.header_user_info {
    display: flex;
    align-items: center;
}

.header_user_pfp {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    margin-left: 0.5em;
}

.sub-options {
    display: none;
}

#notification_icon {
    background-color: var(--primary-color);
    color: var(--secundary-text-color);
    padding: 1em 0.5em 0.5em 0.5em;
    border: none;
}

#notification_icon:hover {
    color: var(--hover-color);
}

#notifications_pop_up {
    display: none;
    translate: 0 -100%;
    position: fixed;
    top: 5em;
    right: 0;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    width: 20rem;
    max-height: 50%;
    z-index: 999;
    overflow-y: auto;
    transition: translate 0.5s ease-in-out;
}

.header_nav {
    display: flex;
    justify-content: center;
}

.header_nav a {
    flex: 1;
}

.header_nav :first-child {
    border-radius: 5px 0 0 5px;
}

.header_nav :last-child {
    border-radius: 0 5px 5px 0;
}

.header_user_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.header_user_info .header_user_pfp {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    margin-left: 0.5em;
}

#button_profile {
    padding-right: 0;
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--background-color);
    height: 100%;
    align-items: normal;
    max-height: calc(3rem + 4px);
    overflow: clip;
    line-height: calc(2rem + 4px);
    line-break: anywhere;
}

.search_form {
    display: flex;
    flex-grow: 1;
}

.app_header .search_form {
    max-width: 45rem;
}

.search_form .button {
    font-size: 1.5em;
    line-height: 1;
    min-width: 0;
    border: 0;
    width: auto;
}

.search_form input {
    flex-grow: 1;
}

.search_form * {
    border-radius: 0;
    border: 0;
}

.search_form :first-child {
    border-radius: 5px 0 0 5px;
}

.search_form :last-child {
    border-radius: 0 5px 5px 0;
}

.sticky_nav {
    position: fixed;
    top: 5rem;
    max-height: calc(100dvh - 5rem);
    height: 100%;
    overflow: auto;
    left: 0;
    background-color: var(--primary-color);
    translate: -100% 0;
    transition: translate 0.5s ease-in-out;
    z-index: 1;
}

#hamburger:checked ~ main .sticky_nav {
    translate: 0 0;
}

@media screen and (max-width: 850px) {
    html {
        scroll-padding-top: 11rem;
    }

    .sticky_nav,
    #notifications_pop_up {
        top: 9rem;
    }

    .sticky_nav {
        max-height: calc(100dvh - 9rem);
    }

    .header_nav,
    .header_user_info {
        flex: 1;
    }
}

@media screen and (max-width: 530px) {
    html {
        scroll-padding-top: 15rem;
    }

    .sticky_nav,
    #notifications_pop_up {
        top: 13rem;
    }

    #notifications_pop_up {
        width: 100%;
        box-sizing: border-box;
    }

    .sticky_nav {
        width: 100%;
        max-height: calc(100dvh - 5rem);
    }
}

.sticky_nav #admin_buttons,
.sticky_nav #moderator_buttons {
    border-bottom: 2px solid black;
}

.sub-options {
    display: grid;
    gap: 0;
    overflow: clip;
    transition: grid-template-rows 0.5s ease-in-out, gap 0.5s ease-in-out;
}

#admin_buttons .sub-options {
    grid-template-rows: repeat(3, 0fr);
}

#moderator_buttons .sub-options {
    grid-template-rows: repeat(2, 0fr);
}

.sub-options.open {
    gap: 0.2rem;
}

#admin_buttons .sub-options.open {
    grid-template-rows: repeat(3, 1fr);
}

#moderator_buttons .sub-options.open {
    grid-template-rows: repeat(2, 1fr);
}

.sub-options .button {
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 0;
    border: 0;
    transition: padding 0.5s ease-in-out;
}

.sub-options.open .button {
    padding: 0.5em;
}

.accept,
.remove {
    border-radius: 1em;
}

.accept {
    background-color: green;
    border-color: green;
}

.remove {
    background-color: #d22e2e;
    border-color: #d22e2e;
}

header .button {
    border: 1px solid var(--secundary-text-color);
}

.delete_button {
    background-color: #d22e2e;
    border-color: #d22e2e;
}

header form input,
header form select,
header form button {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-text-color);
    padding: 1em;
}

input[type="radio"] {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
}

input[type="radio"] + label {
    font-size: 0.9rem;
    cursor: pointer;
}

input[type="radio"]:focus-visible + label {
    outline: auto;
}

input[type="radio"]:checked + label {
    color: var(--secundary-color);
    border-bottom: 1px solid currentColor;
}

fieldset {
    border: 0;
    padding: 0;
}

.form-item {
    border: 1px solid var(--primary-color);
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1rem;
}

main > section {
    width: 100%;
    margin: 1em;
    max-width: min(110ch, 90vw);
    margin: 0 auto;
    padding: 1rem;
}

.skip-to-content-link {
    background: var(--primary-color);
    height: 30px;
    left: 50%;
    padding: 8px;
    position: fixed;
    top: 0;
    transform: translateY(-200%);
    transition: transform 0.3s;
    z-index: 100000;
    color: white;
}

.skip-to-content-link:focus {
    transform: translateY(0%);
}

.hamburger {
    display: block;
    color: var(--background-color);
    align-self: center;
    width: 2em;
}

.hamburger:before {
    content: "\2630";
    font-size: 1.6rem;
    display: block;
    cursor: pointer;
}

#hamburger:focus-visible ~ header .hamburger {
    outline: auto;
}

#hamburger:checked ~ header .hamburger:before {
    content: "\2715";
}

#hamburger {
    display: block;
    overflow: clip;
    width: 0;
    height: 0;
    box-sizing: border-box;
    position: fixed;
    top: -1000vmax;
}

body.swal2-shown {
    padding-right: 0 !important;
}

#topics article > ul li {
    list-style: none;
}

#content {
    background-color: white;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5),
        5px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.info_article {
    background-color: aliceblue;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info_article:hover,
.info_article:focus-visible {
    border: 2px solid var(--hover-color);
}

.info_article h4 {
    margin: 0;
    margin-bottom: 1em;
}

.container_choices {
    display: flex;
    gap: 0.5em;
}

.container_choices button {
    margin: 0em;
}

#notifications_pop_up > article.info_article,
section#list_notifications > article.info_article {
    padding: 0em 1em 0em 1em;
}

#notifications_pop_up > article.new_notification,
section#list_notifications > article.new_notification {
    background-color: aliceblue;
}

#notifications_pop_up > article.info_article > div,
section#list_notifications > article.info_article h4 {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#notifications_pop_up > article.info_article button,
section#list_notifications > article.info_article button {
    padding-top: 0.6em;
}
