main {
  grid-column-start: content;
  grid-column-end: end;
  grid-row-start: content;
  grid-row-end: footer;
  padding: 1em;
  margin: 1em;
}

body > nav {
  grid-column-start: start;
  grid-column-end: content;
  grid-row-start: content;
  grid-row-end: footer;
  background-color: #d2afe7;
  padding: 1em;
  margin: 1em;
}

/* error message */
p.error{
  color: rgb(115, 3, 3);
  text-align: center;
}
p.success{
  color: rgb(2, 60, 2);
  text-align: center;
}