input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--primary-color);
}

main {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: content;
    grid-row-end: footer;
    padding: 1em;
    margin: auto;
    min-width: 33vw;
}

.authentication {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
} 

.authentication a::before {
    content: "\00a0";
}

#remember input {
    width: 2em;
    margin: 0;
}

label#remember {
  display: flex;
}

label#remember p{
  margin-left: 0.5em;
}

#authentication button[type="submit"] {
  margin-bottom: 0;
}

.authentication_auth_links {
  display: flex;
  align-items: center;
  height: 3em;
}

.authentication_auth_links > * {
  display: inline-block;
  margin-right: 0;
}

.authentication_auth_links a,
.authentication_auth_links p:nth-child(2) {
  text-align: right;
  margin-left: auto;
  padding-right: 0;
}


