main section#comments {
    color: var(--main-text-color);
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--primary-color);
}

section#comments article.comment {
    padding: 1em;
    border: 1px solid var(--main-text-color);
    border-collapse: collapse;
}

section#comments article.comment .comment_header .comment_author {
    display: inline;
    color: var(--main-text-color);
    font-size: 1em;
}

section#comments article.comment .comment_header p {
    display: inline;
    color: grey;
}

section#comments article.news_body .title {
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

section#comments article.comment .comment_text {
    margin-top: 1em;
    margin-bottom: 1em;
}
