html {
    scroll-padding-top: 7rem;
    overflow: auto;
}

:root {
    --primary-color: rgb(0, 51, 102);
    --secundary-color: rgb(255, 166, 0);
    --title-text-color: rgb(255, 166, 0);
    --primary-text-color: rgb(0, 0, 0);
    --secundary-text-color: #f8f8f8;
    --background-color: #f8f8f8;
    --background-article-color: white;
    --hover-color: rgb(255, 166, 0);
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    min-height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: [start] 1fr [content] 6fr [end];
    grid-template-rows: [header] auto [content] 1fr [footer] auto [end];
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.app_header {
    background-color: var(--primary-color);
    grid-column-start: start;
    grid-column-end: end;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
    height: 5rem;
}

header a,
footer a {
    color: var(--secundary-text-color);
    margin: 0;
}

nav .button,
header .button,
nav button {
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5em;
    line-height: 2;
    min-width: 6em;
    margin: auto;
    font-size: 1em;
}

main .button,
main button {
    justify-content: center;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: white;
    padding: 0.5em;
    font-size: 1em;
}

.button:hover {
    background-color: var(--hover-color);
}

textarea:not(header textarea),
input:not(header input),
select:not(header select) {
    margin: 0em 0em 1em 0em;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-text-color);
    width: 100%;
    padding: 1em;
    min-height: 3em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--primary-color);
}

.sub-options .button {
    background-color: white;
    border: 0.1em solid var(--secundary-text-color);
    color: var(--primary-color);
}

/* error message */
p.error {
    background-color: lightcoral;
    color: darkred;
    text-align: center;
}

p.success {
    background-color: lightgreen;
    color: darkgreen;
    text-align: center;
}

p.input_error {
    color: darkred;
    margin-top: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes progressBar {
    0% {
        width: 100%;
    }
    75% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

p.error,
p.success {
    /* -webkit-animation: fadeOut 3s; */
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
    z-index: 1000;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 4.7rem;
    padding: 15px;
}

p.success::after,
p.error::after {
    content: "\00D7";
    vertical-align: text-bottom;
}

p.success::before,
p.error::before {
    content: "";
    animation: progressBar 3s;
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 5px;
    left: 0;
    width: 100%;
}

p.success::before {
    background: darkgreen;
}

p.error::before {
    background: darkred;
}
