html {
    scroll-padding-top: 7rem;
    overflow: auto;
}

:root {
    --primary-color: rgb(0, 51, 102);
    --secundary-color: rgb(255, 166, 0);
    --title-text-color: rgb(255, 166, 0);
    --primary-text-color: rgb(0, 0, 0);
    --secundary-text-color: #f8f8f8;
    --background-color: #f8f8f8;
    --background-article-color: white;
    --hover-color: rgb(255, 166, 0);
}

body {
    line-height: 1.4;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    min-height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: [start] 1fr [content] 6fr [end];
    grid-template-rows: [header] auto [content] 1fr [footer] auto [end];
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
    margin: 0;
}

.app_header {
    background-color: var(--primary-color);
    grid-column-start: start;
    grid-column-end: end;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
    column-gap: 2rem;
    row-gap: 1rem;
    /* height: 5rem; */
}

header a,
footer a {
    color: var(--secundary-text-color);
}

nav .button,
header .button,
nav button {
    display: flex;
    justify-content: center;
    justify-self: center;
    line-height: 2;
    min-width: 6em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.button,
button {
    justify-content: center;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: white;
    padding: 0.5em;
    font-size: 1em;
}

.button:hover,
.button:focus-visible {
    background-color: var(--hover-color);
}

.button-secondary {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    border: 0;
}

.button-secondary:hover,
.button-secondary:focus-visible {
    background-color: lightgray;
}

textarea:not(header textarea),
input:not(header input),
select:not(header select) {
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-text-color);
    width: 100%;
    padding: 1em;
}

select {
    background: white;
}

select option {
    color: black;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--primary-color);
}

p.input_error {
    color: rgb(159, 0, 0);
    margin-top: 0;
    margin-bottom: 1em;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes progressBar {
    0% {
        width: 100%;
    }
    75% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

.hint {
    display: inline-block;
    padding: 0.1em;
    cursor: help;
    color: #fff;
    background-color: #feb22a;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 100%;
    font-size: 0.9em;
    text-align: center;
    box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
}

/** Fix sticky header with sweet alert */
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: clip !important;
}

.swal2-popup .button {
    border-radius: 0.25em;
    border: 0;
    font-size: 1em;
    margin: 0.3125em;
    padding: 0.625em 1.1em;
}

.swal2-html-container {
    max-height: calc(90vh - 14rem);
}
