body {
    display: grid;
    grid-template-columns:  [start] 1fr  [content] 6fr [end];
    grid-template-rows: [header] 1fr [content] auto [footer];
}

header {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: header;
    grid-row-end: content;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
    background-color: #d2afe7;
    padding: 1em;
    margin: 1em;
}

header h1 {
    margin: 0;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #9b4dca;
    border-color: #9b4dca;
    justify-self: center;
    margin: 1em;
}
  
.button.button-outline {
    color: #9b4dca;
}
  
a {
    color: #9b4dca;
}