main section#comments, 
main section#new_comment{
    color: var(--main-text-color);
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--primary-color);
}

section#new_comment h3{
    color: var(--primary-color);
    margin-top: 0;

}

section#new_comment textarea{
    overflow:hidden;
    resize: none;
    padding: 1em;
}

section#new_comment #postComment{
    border-radius: 15px;
    margin: 0;
    margin-left: auto;
}


section#comments article.comment {
    padding: 1em;
    border: 1px solid var(--main-text-color);
    border-collapse: collapse;
}

section#comments article.comment:not(:first-child) {
    border-top: 0;
}


.comment_header{
    display: flex;
    align-items: center;
}

.comment_author {
    color: var(--main-text-color);
    margin-right: 1em;
    font-size: 1em;
    margin-left: 1em;
}
   
.comment_header .date {
    color: grey;
    margin: 0;
}

      
article.news_body .title {
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
    
.comment_text{
    border-left: 3px solid var(--primary-color);
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.dropdown {
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: auto;
  }

  .more{
    border: none;
    min-width: 0;
    color: black;
    background-color: white;
    cursor: pointer;
  }

.dropdown-content {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    padding: 0.5em 0 0.5em 0;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .dropdown-option {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 0.2em;
    text-decoration: none;
    color: black;
}

.dropdown-content .dropdown-option:hover {
    background-color: #d3d3d3;
}

.author_comment_pfp {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}


