main section#comments,
main section#new_comment {
    background-color: var(--background-article-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-text-color);
    margin-: 1em;
    padding: 1em;
}

section h3 {
    color: var(--primary-color);
    margin-top: 0;
}

section#new_comment textarea {
    overflow: hidden;
    resize: none;
    padding: 1em;
}

section#new_comment #postComment {
    margin-left: auto;
    display: block;
}

section#comments article.comment {
    padding: 1em;
    border: 1px solid var(--primary-text-color);
    border-collapse: collapse;
}

.comment_header {
    display: flex;
    align-items: center;
}

.comment_header .author {
    background-color: var(--primary-color);
    font-size: 1.2em;
    color: gold;
    border-radius: 50%;
    padding: 0.1em;
    margin-left: 0.5em;
}

.comment_author {
    color: var(--primary-text-color);
    font-size: 1em;
    margin-left: 1em;
}

.comment_header .date {
    color: grey;
    margin: 0;
    margin-left: 1em;
}

article.news_body .title {
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.comment_text {
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-left: auto;
}

.more {
    width: 2em;
    height: 2em;
    padding: 0.2em;
    border: none;
    border-radius: 50%;
    min-width: 0;
    color: black;
    background-color: white;
    cursor: pointer;
}

.more:hover,
.more:focus-visible {
    background-color: #d3d3d3;
}

.dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 0.5em 0 0.5em 0;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -250%; /* Adjust this value to move the dropdown to the left */
}

.dropdown-content .dropdown-option {
    flex: 1;
    display: flex;
    padding: 12px 16px;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown-content button,
.dropdown-option button {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: inherit;
    color: inherit;
}

.dropdown-content .dropdown-option:hover,
.dropdown-content .dropdown-option:focus-visible {
    background-color: #d3d3d3;
}

.author_comment_pfp {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.editForm {
    margin-top: 1em;
}

.editForm textarea {
    resize: none;
}

.editForm div {
    display: flex;
    gap: 0.2em;
    justify-content: flex-end;
}

.hidden {
    display: none;
}

#comments .search_form {
    border: 1px solid var(--primary-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#comments .search_form .button {
    border-bottom-right-radius: 0;
}
#comments .search_form input {
    border-bottom-left-radius: 0;
}
