/* Create news form*/

section#news-create-container{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #9b4dca;
    border-radius: 5px;
    font-size: 1rem;
  }

  #news-create-container .btn{
    color: white;
    background-color: #9b4dca;
  }
  
  #news-create-container h2{
    font-size: 2em;
    font-weight: bold;
    color: #9b4dca;
  }
  
  #news-create-container label{
    font-size: 1.5em;
    font-weight: bold;
    color: #9b4dca;
  }

  #news-create-container #title{
    display: block;
    overflow: hidden; 
    height: auto;
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    min-height: 3em;
    border: 1px solid #9b4dca;
    border-radius: 5px;
    color: black;
  }
  
  
  
  #news-create-container #text{
    display: block;
    overflow: hidden;
    height: auto;
    overflow: hidden;
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    border: 1px solid #9b4dca;
    border-radius: 5px;
    color: black;
  }
  
  
  #news-create-container .topic{
    
    display: block;
    width: 100%;
    font-size: 1.5em;
    padding: 0.5em;
    border: 1px solid #9b4dca;
    border-radius: 5px;
    color: black;
  }
  
  #news-create-container ul{
    list-style-type: none;
    display: flex;
    border-radius: 10px;
    border: 1px solid #9b4dca;
    min-height: 4em;
    
    overflow-x: auto;
    flex-wrap: wrap;
  }
  
  #news-create-container li{
    display: flex;
    margin: 0.5em 0.25em 0.5em 0.5em;
    padding: 1em;
    border-radius: 10px;
    background-color: #9b4dca;
    color: white;
    font-size: 1.5em;
  }
  
  #news-create-container li span{
    margin-left: 0.5em;
    cursor: pointer;
    color: white;
  }
  