.feed_buttons {
    display: flex;
}

.feed_buttons .feed_button {
    margin-left: 0;
    margin-right: 0.5em;
}

.news_header_feed,
.news_content {
    color: var(--primary-text-color);
}

.news_header_feed h4:nth-child(2) {
    margin-left: 1em;
}

.news_header_feed {
    margin: 0;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.news_header_feed > h4 {
    margin-top: 0;
}

.paginate a:hover {
    cursor: pointer;
}

.user_news:hover {
    border-color: var(--hover-color);
}

.user_news {
    background-color: var(--background-article-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0em 1em 1em 1em;
    margin: 1em 0em;
}

#advanced_search_form {
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 5px;
    background-color: #e3e3e3;
}

#advanced_search_form select {
    background: white;
}

select option {
    color: black;
}
