.page_title {
    font-size: 50px;
    margin: 0.5em;
}

section.info_section {
    color: var(--primary-text-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 1em;
}
