input[id="filter_users"]:focus {
    border-color: var(--primary-color);
}

#all_users,
#all_topics {
    margin: 0em;
    padding: 0;
    background-color: white;
    border: 1px solid black;
}

#all_users::-webkit-scrollbar,
#all_topics::-webkit-scrollbar {
    display: none;
}

#all_users div {
    display: flex;
    align-items: center;
}

#all_users .user > div:first-of-type {
    gap: 3em;
}

#all_users .user,
#all_topics .topic {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 1em;
    margin-bottom: 0em;
    border-bottom: 1px solid var(--primary-text-color);
    justify-content: space-between;
}

.manage_div {
    display: flex;
    gap: 1em;
}

#all_users .admin,
#all_users .is_mod {
    font-weight: bold;
}

#all_users .admin {
    padding: 0.5em;
}

#all_users .user button {
    margin-right: 0;
    margin-left: 1em;
    background-color: transparent;
    border: none;
    min-width: 1em;
    padding: 0 0.5em;
    width: auto;
}

#all_users .user button.block {
    background-color: red;
    border-color: red;
    min-width: 5em;
}

#all_users .user button.unblock {
    background-color: green;
    border-color: green;
    min-width: 5em;
}

.name_wrapper {
    min-width: 10em;
}

#all_users .user .button {
    background-color: var(--primary-color);
    width: fit-content;
}

#all_users .user a,
#all_topics .topic a {
    text-decoration: none;
    padding: 0.5em;
    color: var(--primary-text-color);
}

#all_users .user:hover,
#all_topics .topic:hover {
    background-color: #e3e3e3;
}

.accept {
    margin-left: 0em;
    margin-right: 0.5em;
}

#select_topic {
    margin-top: 1em;
}

.modBut {
    min-width: 10em;
}

@media screen and (max-width: 1000px) {
    #all_users .user > div:first-of-type {
        gap: 0;
        align-items: baseline;
    }

    li > div {
        flex-direction: column;
        width: 50%;
        box-sizing: border-box;
    }

    #all_users .user .button {
        width: 100%;
    }
}

.topics_proposal {
    background-color: aliceblue;
}

.topics_proposal button {
    margin: 0;
}
