#all_users {
    margin: 0em;
    height: 33vw;
    overflow: auto;
    padding: 0;
}

#all_users .user {
    list-style-type: none;
    padding: 1em;
    margin-bottom: 0em;
    border-bottom: 1px solid black;
}

#all_users .user a {
    text-decoration: none;
}
