input[id="filter_users"]:focus {
    border-color: var(--primary-color);
}

#all_users {
    margin: 0em;
    height: 33vw;
    overflow: scroll;
    padding: 0;
    background-color: white;
    border: 1px solid black;
}

#all_users::-webkit-scrollbar {
    display: none;
}

#all_users .user {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 1em;
    margin-bottom: 0em;
    border-bottom: 1px solid var(--main-text-color);
    justify-content: space-between;
}

#all_users .user button {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    background-color: transparent;
    border: none;
    min-width: 1em;
}

#all_users .user button span {
    color: red;
}

#all_users .user a {
    text-decoration: none;
    color: var(--main-text-color);
}

#all_users .user a:hover {
    font-weight: bolder;
}

.accept {
    margin-left: 0em;
    margin-right: 0.5em;
}
