main section#news {
    color: var(--main-text-color);
    margin: 1em;
}
    
section#news article.news_body{
    padding: 1em;
    border: 1px solid var(--primary-color);
}  
    
section#news article.news_body .title {
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0;
}
    
section#news article.news_body .news_text{
    margin-top: 1em;
    margin-bottom: 1em;
}
    
section#news article.news_body .date{
    margin: 0;
    color: grey;
}
  
section#news article.news_body .tags{
    margin-top: 1em;
    margin-bottom: 1em;
}
    
section#news article.news_body .tags .tag{
    padding: 0.5em;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
}

#news img {
    display: block;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px; 
    max-height: 500px;
    height: auto;
    width: auto;
}