main section#news {
    background-color: var(--background-article-color);
    margin: 1em 0 1em 0;
}

section#news article.news_body div.news_head p.author {
    display: inline;
}

section#news article.news_body {
    padding: 1em;
    border: 1px solid var(--primary-color);
}

section#news article.news_body .title {
    font-weight: bold;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

section#news article.news_body .news_text {
    margin-top: 1em;
    margin-bottom: 1em;
}

section#news article.news_body .dates {
    display: flex;
    flex-direction: column;
}

section#news article.news_body .date {
    margin: 0;
    color: grey;
}

section#news article.news_body .tags {
    margin-top: 1em;
    margin-bottom: 1em;
}

#news .post_image {
    display: block;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    max-height: 80vh;
    height: auto;
    width: auto;
}

.votes {
    display: flex;
    gap: 0.5em;
}

.votes button {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: grey;
    border-color: grey;
}

#edit_or_cancel_edition_news {
    display: flex;
    justify-items: center;
}

#edit_or_cancel_edition_news > * {
    margin: 0.5em;
    margin-left: 0;
}

.post_owner_info_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.author_post_pfp {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.news_head #teste {
    display: flex;
    justify-content: space-between;
}
