.feed_buttons .button {
    margin-left: 0;
}

.user_news:hover {
    border-color: #606c76;
}

.news_header_feed,
.news_content {
    color: black;
}

.news_header_feed h4:nth-child(2) {
    margin-left: 1em;
}

.paginate a:hover {
    cursor: pointer;
}

.news_header_feed {
    background-color: white;
    margin: 0;
    padding: 0;
}