.profile {
    text-align: center;
    display: flex;
    gap: 1em;
}

#user_picture {
    flex: 1;
    height: auto;
    width: auto;
    max-height: 20em;
    max-width: 20em;
    object-fit: contain;
}

#user_card {
    background-color: var(--background-article-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    flex: 2;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1em;
}

#user_details {
    background-color: aliceblue;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
}

.image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user_card > .user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    background-color: aliceblue;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

#user_card p,
#user_card h4 {
    margin: 0em;
}

#follow,
#follow_topic,
#follow_tag {
    text-transform: capitalize;
}

.image_buttons_wrapper,
.user_follow_edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.user_follow_edit > button {
    line-height: 1;
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin: 0;
}

.action_buttons_wrapper > button:first-of-type:not(.delete_button) {
    margin-right: 0;
}

.action_buttons_wrapper > button:nth-of-type(2) {
    margin-left: 0;
}

.image_buttons_wrapper {
    display: flex;
    align-items: center;
}

.image_buttons_wrapper > button:first-of-type {
    margin-left: 0;
    width: 10em;
}

.image_buttons_wrapper > button:last-of-type {
    margin-right: 0;
    width: 10em;
}

@media screen and (max-width: 794px) {
    .profile {
        flex-direction: column-reverse;
        gap: 0.5em;
    }
}
