.profile {
    text-align: center;
    display: flex;
}

#user_picture {
    flex: 1;
    height: 20em;
    width: auto;
    object-fit: contain;
}

#user_card {
    flex: 2;
    padding: 1em;
}

#user_card > button {
    display: inline;
}

#user_card .button {
    margin: auto;
    margin-bottom: 1em;
}

#user_details,
#user_details > div {
    display: flex;
    width: 100%;
}

.user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0em 1em 1em 1em;
    white-space: pre-line;
}

#user_card p,
#user_card h4 {
    margin: 0em;
}

svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

#follow,
#follow_topic,
#follow_tag {
    text-transform: capitalize;
}

.action_buttons_wrapper,
.user_follow_edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_follow_edit > button {
    background: none;
    border: none;
    min-width: 1em;
    line-height: 1;
    color: var(--primary-color);
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.action_buttons_wrapper > button:first-of-type:not(.delete_button) {
    margin-right: 0;
}

.action_buttons_wrapper > button:nth-of-type(2) {
    margin-left: 0;
}

.image_buttons_wrapper {
    display: flex;
    align-items: center;
}

.image_buttons_wrapper > button:first-of-type {
    margin-left: 0;
    width: 10em;
}

.image_buttons_wrapper > button:last-of-type {
    margin-right: 0;
    width: 10em;
}

.remove_pfp_image {
    background-color: red;
    border-color: red;
}
